{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Art Gallery</title>

		<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'Web/assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'Web/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'Web/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'Web/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'Web/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'Web/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'Web/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'Web/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'Web/assets/css/responsive.css' %}">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
<style>
	.userspan{
	 color: #fff;
	font-weight: 700;
	padding: 15px;
	}

		.userspan:hover{
	color:#F28123;
	}


  .alert-container {
            position: fixed;
            top: -100px; /* Initially off-screen */
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            width: 100%;
            max-width: 400px; /* Adjust width as needed */
            text-align: center;
            animation: slideDown 0.5s forwards;
        }

        @keyframes slideDown {
            0% {
                top: -100px; /* Off-screen */
            }
            100% {
                top: 100px; /* 100px down from top */
            }
        }

.alert {
	position: relative;
	margin-bottom: 15px;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.alert-success {
	color: black;
    background-color:white;
	border: 1px solid green !important;
	font-size:15px;
	font-weight:bold;
}

.alert-warning {
	color: black;
    background-color:white;
	border: 1px solid #F28123 !important;
	font-size:15px;
	font-weight:bold;
}

.alert-error {
    color: black;
    background-color:white;
	border: 1px solid #F28123 !important;
	font-size:15px;
	font-weight:bold;
}.alert-info {
    color: black;
background-color: white;
	border: 1px solid blue !important;
	font-size:15px;
	font-weight:bold;
}
	.userspan{
	 color: #fff;
	font-weight: 700;
	padding: 15px;
	}

		.userspan:hover{
	color:#F28123;
	}


/* Custom styles for the modal */
  #logoutModal .modal-dialog {
    max-width: 480px; /* Set the max-width */
    margin: 100px auto 0; /* Center the modal horizontally and set distance from top to 100px */
  }

  #logoutModal .modal-content {
    height: 180px; /* Set the height */
    background-color: white;
    border:1px double #fd7e14;
    border-radius: 10px; /* Add border radius of 10px */
    padding: 20px 20px 0; /* Adjusted padding without bottom padding */
}

	.dropdown-item a {
    color: #F28123 !important; /* Change this to your desired color */
}

	.dropdown-item a:hover {
    color: #d06207 !important; /* Change this to your desired hover color */
    font-size:12px;
}

</style>

</head>
<body>

	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

<!-- header -->
	<div class="top-header-area" id="sticker" style="height:90px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="{% static 'Web/assets/img/artgallery5.png' %}" style="margin-top:-20px;width:300px;height:90px;" alt=""  >
							</a>
						</div>
						<!-- logo -->
{% block content %}




<!-- Your existing navigation bar code -->
<nav class="main-menu" >
  <ul>
    <li><a href="{% url 'Home_page' %}">Home</a></li>
    <li class="current-list-item"><a href="{% url 'About_page' %}">About</a></li>
    <li><a href="#">Pages</a>
      <ul class="sub-menu">
        <li><a href="{% url 'user_painting' %}">Upload paintings</a></li>
        <li><a href="{% url 'search_painting' %}">Search a painting</a></li>
		 <li><a href="{% url 'learn_art' %}">classes for art</a></li>

      </ul>
    </li>
    <li><a href="{% url 'Contact_page' %}">Contact</a></li>
    <li><a href="{% url 'Shop' %}">Shop</a></li>
								   <li>
									{% for i in user_profile %}
										<img src="{{ i.profile_image.url }}" style="margin-left:100px;border:2px solid #F28123;object-fit:cover;"
											 alt="" name="image" class="rounded-circle" height="35px" width="35px">
									{% empty %}
										{% if request.session.Username %}
											<!-- Show default image if user_profile is empty -->
											<img src="{% static 'Web/assets/img/usericon11.png' %}" style="margin-left:100px;border:2px solid #F28123;display:cover;"
												 alt="Default Image" name="image" class="rounded-circle" height="35px" width="35px">
										{% endif %}
									{% endfor %}
									{% if request.session.Username %}
										<span class="userspan">{{request.session.Username}}</span>
										<i class="bi bi-chevron-down " style="color:#fff;font-weight:bold;margin-left:-10px;"></i>
										<ul class="sub-menu"  style="margin-left:100px;">
											<li><a href="{% url 'profile_page' %}">My account</a></li>
        <li><a href="#" data-toggle="modal" data-target="#logoutModal">Logout</a></li>
										</ul>
									{% else %}

								<li>
											<a href="{% url 'Login_page'%}" class="nav-link">
												<i class="bi bi-person-plus" style="font-size: 20px;margin-left:30px;"></i>
											</a>
										</li>
									{% endif %}
								</li>
    <li>
      <div class="header-icons">
        <a class="wishlist-icon" href="{% url 'wishlist' %}"><i class="far fa-heart"></i></a>
        <a class="shopping-cart" href="{% url 'Cart_page' %}"><i class="fas fa-shopping-cart"></i></a>
<a class="dropdown-toggle hidden-arrow" style="border: none;" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-dropdown-init data-mdb-ripple-init aria-expanded="false">
    <i class="fas fa-search"></i> <!-- Search icon -->
</a>
<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink" style="background-color: white;">
    <li>
        <div class="input-group mt-2 mx-2">
            <div class="form-outline w-auto" data-mdb-input-init>
                <input type="search" id="search-input-dropdown" class="form-control" style="width: 280px;" placeholder="Search here" />
                <label class="form-label" for="search-input-dropdown" style="width: 200px;"></label>
            </div>
        </div>
    </li>
    {% for painting in paintings %}
    <li class="dropdown-item" style="display: none;" data-name="{{ painting.pname }}"><a href="{% url 'Single_page' painting.id %}">{{ painting.pname }}</a></li>
    {% endfor %}
</ul>

      </div>
    </li>
  </ul>
</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
												<div class="mobile-menu"></div>

						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->



<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                  <h5 class="modal-title" id="logoutModalLabel">
                    <div style="display: flex; align-items: center;">
					<i class="fas fa-exclamation-circle" style="margin-right: 6px;margin-top:-2px;"></i>
                        <div>Are you sure you want to logout ?</div>
                    </div>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

           <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="margin-top:40px !important;" data-dismiss="modal">Cancel</button>
				&nbsp;
                <a href="{% url 'user_logout' %}" class="btn btn-primary" style="margin-top:40px !important;">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" style="height:250px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Discover Inspiring Creations</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
<div class="featured-text text-center">
    <h2 style="margin-bottom:80px;">Why <span class="orange-text">Art Gallery</span></h2>
    <div class="row">
        <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
            <div class="list-box d-flex">
                <div class="list-icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <div class="content">
                    <h3>Artistic Shipping</h3>
                    <p>Experience seamless delivery of your chosen masterpiece to your doorstep, ensuring the safe and careful handling of each artwork, preserving its beauty from creation to display.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
            <div class="list-box d-flex">
                <div class="list-icon">
                    <i class="fas fa-building"></i>
                </div>
                <div class="content">
                    <h3>Exquisite Collection</h3>
                    <p>Immerse yourself in a curated selection of artworks, ranging from timeless classics to contemporary masterpieces, meticulously chosen to inspire and captivate art enthusiasts of every taste.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
            <div class="list-box d-flex">
                <div class="list-icon">
                    <i class="fas fa-palette"></i>
                </div>
                <div class="content">
                    <h3>Personalized Art Experience</h3>
                    <p>Elevate your space with bespoke art solutions tailored to your individual style and preferences, as our expert team assists you in finding or creating the perfect piece to reflect your unique personality.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="list-box d-flex">
                <div class="list-icon">
                    <i class="fas fa-coins"></i>
                </div>
                <div class="content">
                    <h3>Investment in Beauty</h3>
                    <p>Discover the inherent value and enduring allure of fine art as you invest in pieces that not only enrich your surroundings but also appreciate in aesthetic and cultural significance over time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
            <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
            <a href="{% url 'Shop' %}" class="cart-btn btn-lg">Shop Now</a>
        </div>
    </section>
	<!-- end shop banner -->

	<!-- team section -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Our <span class="orange-text">Team</span></h3>
      <p>Discover the passionate individuals driving our gallery forward. From expert curators to dedicated support staff, our team is committed to sharing the beauty of art with you.</p>
          </div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-1"></div>
						<h4>Jimmy Doe <span>Graphic Designer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank" ><i class="fab fa-facebook-f p-2"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter p-2" ></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram p-2"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4>Marry Doe <span>Content Writer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f p-2"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter p-2"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram p-2"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4>Simon Joe <span>Art Curator</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f p-2"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter p-2"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram p-2"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end team section -->

	{%endblock%}

<!-- logo carousel -->
		<div class="section-title text-center"  style="margin-top:100px">
						<h3><span class="orange-text">Top</span> Popular Artists </h3>
					</div>
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						{% for i in artists %}
						<div class="single-logo-item ">
							<a href="{{i.link}}">
								<img src="{{i.picture.url}}" class="rounded-circle" style=" border:4px solid rgb(159, 158, 158);object-fit:cover;width: 150px; height: 150px;" alt="example placeholder"></a>
                      <a href="{{i.link}}">
						  <h6 class="text-center m-2 namelogo">{{i.name}}</h6></a>
                      <h6 class="text-center m-2">{{i.year}}</h6>
						</div>
						{%endfor%}

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'Home_page' %}">Home</a></li>
							<li><a href="{% url 'About_page' %}">About</a></li>
							<li><a href="{% url 'Shop' %}">Shop</a></li>
							<li><a href="{% url 'Contact_page' %}">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="#">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>

					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

<div class="alert-container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {% if message.tags == 'error' %}
                    <img src="{% static 'Web/assets/img/error.png' %}" alt="Error Icon" style="margin-right:10px;" width="27px" height="27px"> <!-- Replace path/to/error-image.jpg with the path to your error image -->
                                {{ message }}

				{% endif %}
				{% if message.tags == 'success' %}
                    <img src="{% static 'Web/assets/img/green_tick.jpg' %}" alt="Error Icon"  width="35px" height="33px">
                                {{ message }}

				{% endif %}
				{% if message.tags == 'warning' %}
                    <img src="{% static 'Web/assets/img/warningicon.png' %}" style="margin-top:-7px !important;" alt="Error Icon" width="30px" height="28px">
                               {{ message }}

                {% endif %}
				{% if message.tags == 'info' %}
                    <img src="{% static 'Web/assets/img/info-icon.webp' %}" style="margin-right:7px !important;" alt="Error Icon" width="28px" height="32px">
                               {{ message }}

                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
    $(document).ready(function() {
        // Hide alerts after 5 seconds
        setTimeout(function() {
            $('.alert-container').fadeOut('medium');
        }, 5000);
    });
</script>
<!-- Add JavaScript to handle the modal -->
<script>
  $(document).ready(function() {
    // Intercept click event on logout link
    $('#logout-link').click(function(e) {
      // Prevent the default action (following the link)
      e.preventDefault();
      // Show the modal
      $('#confirmLogoutModal').modal('show');
    });
  });
</script>
	<script>
    const searchInputDropdown = document.getElementById('search-input-dropdown');
    const dropdownToggle = document.getElementById('navbarDropdownMenuLink');
    const dropdownOptions = document.querySelectorAll('.dropdown-item');
    const MAX_DISPLAYED_OPTIONS = 5; // Maximum number of options to display

    // Toggle dropdown menu visibility when dropdown button is clicked
    dropdownToggle.addEventListener('click', () => {
        const dropdownMenu = dropdownToggle.nextElementSibling;
        dropdownMenu.classList.toggle('show');
    });

    // Filter dropdown items based on user input
    searchInputDropdown.addEventListener('input', () => {
        const filter = searchInputDropdown.value.toLowerCase();
        let displayedCount = 0;

        dropdownOptions.forEach((el) => {
            const elText = el.textContent.trim().toLowerCase();
            const isIncluded = elText.includes(filter);
            if (!isIncluded || displayedCount >= MAX_DISPLAYED_OPTIONS) {
                el.style.display = 'none'; // Hide items that don't match the input or exceed maximum displayed options
            } else {
                el.style.display = 'block'; // Show items that match the input
                displayedCount++;
            }
        });
    });

    // Hide all dropdown items when the input is cleared
    searchInputDropdown.addEventListener('blur', () => {
        if (searchInputDropdown.value === '') {
            dropdownOptions.forEach((el) => {
                el.style.display = 'none';
            });
        }
    });

    // Clear input field when dropdown is closed
    dropdownToggle.addEventListener('hidden.bs.dropdown', () => {
        searchInputDropdown.value = ''; // Clear the input field
    });
</script>


	<!-- jquery -->
	<script src="{% static 'Web/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'Web/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'Web/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'Web/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'Web/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'Web/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'Web/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'Web/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'Web/assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'Web/assets/js/main.js' %}"></script>

</body>
</html>



