
{% extends 'About.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Art Gallery</title>
  <style>


.confirmation_part .confirmation_tittle {
  text-align: center;
  margin-bottom: 35px;
}

.confirmation_part .confirmation_tittle span {
  color: orange;
  font-size:30px;
}

.confirmation_part .single_confirmation_details {
  background-color: #f1f3f3;
  padding: 35px 40px;
}

@media (max-width: 991px) {
  .confirmation_part .single_confirmation_details {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .confirmation_part .single_confirmation_details {
    margin-bottom: 30px;
  }
}

.confirmation_part .single_confirmation_details h4 {
  font-size: 18px;
  font-weight:bolder;
  color: #222222;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.confirmation_part .single_confirmation_details ul li {
  position: relative;
  text-transform: capitalize;
  padding-left: 55%;
  margin-bottom: 3px;
}

.confirmation_part .single_confirmation_details ul li p {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 21px;
  color: #777777;
}

.confirmation_part .single_confirmation_details ul li span {
  color: #222222;
}

.confirmation_part .order_details_iner {
  margin-top: 50px;
  background-color:  #f1f3f3;
  padding: 30px 30px 15px;
  text-transform: capitalize;
}

.confirmation_part .order_details_iner h3 {
  font-size: 18px;
}

.confirmation_part .order_details_iner .table thead th {
  color: #222222;
  font-size: 16px;
}

.confirmation_part .order_details_iner span {
  color: #777777;
}

.confirmation_part .order_details_iner thead {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.confirmation_part .order_details_iner tfoot {
  border-top: 1px solid #dddddd;
}

.confirmation_part .order_details_iner th {
  font-weight: 500;
}

.razorpay-payment-button {
        text-transform: lowercase !important; /* Change text to lowercase */
        color: white !important;


    }

    /* Hover effect */
    .razorpay-payment-button:hover {
        color: white !important; /* Change text color on hover */
    }



/* Custom styles for the modal */
  #codConfirmationModal .modal-dialog {
    max-width: 480px; /* Set the max-width */
    margin: 100px auto 0; /* Center the modal horizontally and set distance from top to 100px */
  }

    #codConfirmationModal .modal-content {
    height: 180px; /* Set the height */
    background-color: white;
    border:1px double #fd7e14;
    border-radius: 10px; /* Add border radius of 10px */
    padding: 20px 20px 0; /* Adjusted padding without bottom padding */
}

  </style>

</head>
<body>
						<!-- menu start -->
<nav class="main-menu">
  <ul>
    <li><a href="{% url 'Home_page' %}">Home</a></li>
    <li ><a href="{% url 'About_page' %}">About</a></li>
    <li><a href="#">Pages</a>
      <ul class="sub-menu">
        <li><a href="{% url 'user_painting' %}">Upload paintings</a></li>
		          <li><a href="{% url 'search_painting' %}">Search a painting</a></li>
                  <li><a href="{% url 'learn_art' %}">classes for art</a></li>

      </ul>
    </li>
    <li ><a href="{% url 'Contact_page' %}">Contact</a></li>
    <li><a href="{% url 'Shop' %}">Shop</a></li>
       <li>
									{% for i in user_profile %}
										<img src="{{ i.profile_image.url }}" style="margin-left:100px;border:2px solid #F28123;object-fit:cover;"
											 alt="" name="image" class="rounded-circle" height="35px" width="35px">
									{% empty %}
										{% if request.session.Username %}
											<!-- Show default image if user_profile is empty -->
											<img src="{% static 'Web/assets/img/usericon11.png' %}" style="margin-left:100px;border:2px solid #F28123;display:cover;"
												 alt="Default Image" name="image" class="rounded-circle" height="35px" width="35px">
										{% endif %}
									{% endfor %}
									{% if request.session.Username %}
										<span class="userspan">{{request.session.Username}}</span>
										<i class="bi bi-chevron-down " style="color:#fff;font-weight:bold;margin-left:-10px;"></i>
										<ul class="sub-menu"  style="margin-left:100px;">
											<li><a href="{% url 'profile_page' %}">My account</a></li>
        <li><a href="#" data-toggle="modal" data-target="#logoutModal">Logout</a></li>
										</ul>
									{% else %}

								<li>
											<a href="{% url 'Login_page'%}" class="nav-link">
												<i class="bi bi-person-plus" style="font-size: 20px;margin-left:30px;"></i>
											</a>
										</li>
									{% endif %}
								</li>
    <li>
      <div class="header-icons">
        <a class="wishlist-icon" href="{% url 'wishlist' %}"><i class="far fa-heart"></i></a>
        <a class="shopping-cart" href="{% url 'Cart_page' %}"><i class="fas fa-shopping-cart"></i></a>
<a class="dropdown-toggle hidden-arrow" style="border: none;" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-dropdown-init data-mdb-ripple-init aria-expanded="false">
    <i class="fas fa-search"></i> <!-- Search icon -->
</a>
<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink" style="background-color: white;">
    <li>
        <div class="input-group mt-2 mx-2">
            <div class="form-outline w-auto" data-mdb-input-init>
                <input type="search" id="search-input-dropdown" class="form-control" style="width: 280px;" placeholder="Search here" />
                <label class="form-label" for="search-input-dropdown" style="width: 200px;"></label>
            </div>
        </div>
    </li>
    {% for painting in paintings %}
    <li class="dropdown-item" style="display: none;" data-name="{{ painting.pname }}"><a href="{% url 'Single_page' painting.id %}">{{ painting.pname }}</a></li>
    {% endfor %}
</ul>
      </div>
    </li>
  </ul>
</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->


	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<form action="{% url 'search' %}" method="get">
							<h3>Search For:</h3>
							<input id="query" name="query" type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
								</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" style="height:250px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Discover Inspiring Creations</p>
						<h1>Payment section</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->



	<div class="checkout-section mt-150 mb-150">
    </div>

<section class="confirmation_part padding_top">
    <div class="container">

        <div class="col-lg-12">

        </div>

        </div>

        <div class="col-lg-10" style="margin-left:8vw;" >
          <div class="single_confirmation_details">

            <h4>shipping Address</h4>
            <ul style="list-style: none;">
              <li>
                <p>Name</p><span>{{selected_address.firstname}} {{selected_address.lastname}}</span>
              </li>

              <li>
                <p>Address</p><span>{{selected_address.address_line_1}}</span>
              </li>
                <li>
                <p>Landmark</p><span>{{selected_address.address_line_2}}</span>
              </li>
              <li>
                <p>Phone</p><span>{{selected_address.phone}}</span>
              </li>
              <li>
                <p>Email</p><span>{{selected_address.email}}</span>
              </li>
              <li>
                <p>City</p><span>{{selected_address.city}}</span>
              </li> <li>
                <p>Sate</p><span>{{selected_address.state}}</span>
              </li>
              <li>
                <p>postcode</p><span>{{selected_address.pincode}}</span>
              </li>
            </ul>
          </div>
        </div>


        <div class="col-lg-10 " style="margin-left:8vw;">
          <div class="order_details_iner " >
            <h3>Order Details</h3>
            <table class="table table-borderless" style="background-color:#f1f3f3 !important; ">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>

              <tbody>
             {% for i in data %}
                <tr>
                  <th colspan="2">{{i.painting.pname}}<span></span></th>
                  <th>x{{i.quantity}}</th>
                  <th> <span>₹ {{i.tprice}}/-</span></th>
                </tr>
                {% endfor %}

                <tr>

                  <th colspan="3">Subtotal</th>
                  <th> <span> ₹ {{total_price}}/-</span></th>
                </tr>
                <tr>
                  <th colspan="3">Coupon Discount</th>
                  <th><span> ₹ {{coupon_discount|floatformat:0}}/-</span></th>
                </tr>
                <tr>
                  <th colspan="3">Shipping</th>
                  <th><span>₹ 70/-</span></th>
                </tr>
                <tr>
                  <th colspan="3">Grand Total</th>
                  <th><span>₹ {{grand_total}}/-</span></th>
                </tr>

              </tbody>
              <br>
              <tfoot>
                <tr>
                  <th scope="col" colspan="3">Payable Amount</th>
                  <th scope="col">₹ {{grand_total}}/-</th>
                </tr>
              </tfoot>
            </table>

            <div class="d-flex justify-content-center align-items-center">
<form id="orderForm" action="{% url 'place_order' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="Username" value="{{request.session.Username}}">
    <input type="hidden" value="{{ selected_address.id }}" name="selected_address_id">
    <input type="hidden" class="form-control" value="{{ selected_address.firstname }}" name="first_name" placeholder="First Name" required />
    <input type="hidden" class="form-control" value="{{ selected_address.lastname }}" name="last_name" placeholder="Last Name" required />
    <input type="hidden" class="form-control" value="{{ selected_address.phone }}" name="phone" placeholder="Phone Number" required />
    <input type="hidden" class="form-control" value="{{ selected_address.email }}" name="email" placeholder="Email" required />
                {% for i in data %}
                <input type="hidden" class="form-control" value="{{ i.painting.pname }}" name="painting_name" placeholder="Painting Name" required/>
                <input type="hidden" class="form-control" value="{{ i.painting.picture }}" name="painting_picture" placeholder="Painting Picture" required/>
                <input type="hidden" class="form-control" value="{{ i.price }}" name="price" placeholder="Price" required/>
                <input type="hidden" class="form-control" value="{{ i.quantity }}" name="quantity" placeholder="Quantity" required/>
                {% endfor %}
    <input type="hidden" class="form-control" value="{{ coupon_discount }}" name="discount" required/>
    <input type="hidden" class="form-control" value="{{ selected_address.address_line_1 }}" name="address_line_1" placeholder="Address 1" required />
    <input type="hidden" class="form-control" value="{{ selected_address.address_line_2 }}" name="address_line_2" placeholder="Address 2" required />
    <input type="hidden" class="form-control" value="{{ selected_address.city }}" name="city" placeholder="City" required />
    <input type="hidden" class="form-control" value="{{ selected_address.state }}" name="state" placeholder="State" required />
    <input type="hidden" class="form-control" value="{{ addressSelected.pincode }}" name="zip_code" placeholder="Postcode/ZIP" required />
    <input type="hidden" class="form-control" value="{{ total_price }}" name="total_price" required />
    <input type="hidden" class="form-control" value="70" name="shipping" required />
    <input type="hidden" class="form-control" value="{{ grand_total }}" name="grand_total" required />
    <input type="hidden" class="form-control" value="{{ grand_total }}" name="amountToBePaid" required />
    <input type="hidden" value="COD" name="payment_method">

    <a type="button" class="cart-btn" style="text-transform:none;font-weight:bold;color:white;padding-top:16px;padding-left:30px;padding-bottom:16px;padding-right:30px;" data-toggle="modal" data-target="#codConfirmationModal">Cash on Delivery</a>
&nbsp;&nbsp;&nbsp;&nbsp;
</form>

<!-- Modal Structure for COD -->
<div class="modal fade" id="codConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="codConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codConfirmationModalLabel">
                    <div style="display: flex; align-items: center;">
                        <i class="fas fa-exclamation-circle" style="margin-right: 5px;margin-top:-28px;"></i>
                        <div>Are you sure you want to proceed with Cash On Delivery?</div>
                    </div>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="margin-top:20px;" data-dismiss="modal">Cancel</button>
                <button type="submit" form="orderForm" class="btn btn-primary" style="margin-top:20px;">Confirm</button>
            </div>
        </div>
    </div>
</div>
      <form action="{% url 'place_order' %}" method="POST">
        {% csrf_token %}
          <input type="hidden" name="Username" value="{{request.session.Username}}">
            <input type="hidden" value="{{ selected_address.id }}" name="selected_address_id">
                      <input type="hidden" class="form-control" value="{{selected_address.firstname}}" name="first_name"placeholder="First Name"required />
                      <input type="hidden" class="form-control" id="last"value="{{selected_address.lastname}}" name="last_name"placeholder="Last Name" required/>
                      <input type="hidden" class="form-control" id="phone"value="{{selected_address.phone}}" name="phone"placeholder="Phone Number"required/>
                      <input type="hidden" class="form-control" id="email"value="{{selected_address.email}}" name="email"placeholder="Email" required/>
          {% for i in data %}
                <input type="hidden" class="form-control" value="{{ i.painting.pname }}" name="painting_name" placeholder="Painting Name" required/>
                <input type="hidden" class="form-control" value="{{ i.painting.picture }}" name="painting_picture" placeholder="Painting Picture" required/>
                <input type="hidden" class="form-control" value="{{ i.price }}" name="price" placeholder="Price" required/>
                <input type="hidden" class="form-control" value="{{ i.quantity }}" name="quantity" placeholder="Quantity" required/>
                {% endfor %}
          <input type="hidden" class="form-control" value="{{ coupon_discount }}" name="discount" required/>
                      <input type="hidden" class="form-control" id="add1" value="{{selected_address.address_line_1}}" name="address_line_1" placeholder="Address 1"required/>
                      <input type="hidden" class="form-control" id="add1" value="{{selected_address.address_line_2}}" name="address_line_2" placeholder="Address 2"required/>
                      <input type="hidden" class="form-control" id="city" value="{{selected_address.city}}" name="city"placeholder="City" required/>
                      <input type="hidden" class="form-control" id="state" value="{{selected_address.state}}" name="state"placeholder="State" required/><input type="hidden" class="form-control" id="zip_code" name="zip_code"value="{{addressSelected.pincode}}" placeholder="Postcode/ZIP" required/>
                      <input type="hidden" class="form-control" value="{{total_price}}" name="total_price" required/>
                      <input type="hidden" class="form-control" value="70" name="shipping" required/>
                      <input type="hidden" class="form-control" value="{{grand_total}}" name="grand_total" required/>

                      <input type="hidden" class="form-control" value="{{grand_total}}" name="amountToBePaid" required/>

                      <input type="hidden" value="Razorpay" name="payment_method">

<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_IzIBFTmzd3zzKk"
    data-amount="{{ grand_total }}"
    data-currency="INR"
    data-order_id="{{ order_id }}"
    data-name="Art Gallery"
        data-buttontext="Pay with Razorpay"
    data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
    data-image="https://example.com/your_logo.jpg"
    data-prefill.name="Gaurav Kumar"
    data-prefill.email="gaurav.kumar@example.com"
    data-theme.color="blue"
    data-payment-methods="card,upi,emi,netbanking,wallet">
</script>

        </form>

              </div>
            </div>
          </div>

      </div>
    </section><br><br><br>


  </body>
  </html>
  {%endblock%}