{% extends 'Home.html' %}
{% block content %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Art Gallery</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style>
		#total{
			border:none;
			outline:none;
			margin-left:-8px;
			font-weight:bold;
			font-size:25;
			width:120px;
			display: inline-block;
			margin-right: -30px;
			background-color:white;
			color:black !important;
		}

		.customreadbtn {

    margin-top:10px;
    margin-bottom:10px;
}
.green-text {
    color: green;
}

.red-text {
    color: red;
}


	</style>
</head>
<body>
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>See more Details</p>
						<h1>Single Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img" style="margin-left:-100px;">
						<img src="{{pro.picture.url}}" alt="" style="height:370px;width:550px;object-fit:cover;"">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h2 style="font-size:40">{{pro.pname}}</h2>

						<p class="single-product-pricing"><span class="{% if pro.status == 'In Stock' %}green-text{% elif pro.status == 'Out Of Stock' %}red-text{% endif %}">
							{{ pro.status }}
						</span> ₹ {{pro.price}} /-</p>
	<div>
    {% if pro.description|length > 420 %}
        <p >
            {{ pro.description|slice:":420" }}
            <span class="remaining-text" style="display: none;max-width:350px;">{{ pro.description|slice:"420:" }}</span>
        </p>
        <div class="customread float-right" >
            <button onclick="toggleRemainingText(this)" class="btn btn-outline-primary customreadbtn">Read more</button>
        </div>
    {% else %}
        <p>{{ pro.description }} </p>
    {% endif %}
</div>


						{% if existing_item %}
						<div class="single-product-form">
							<form action="{% url 'save_cart' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" class="form-control" name="Username" value="{{ request.session.Username }}">
								<input type="hidden" name="action" id="action" value=""> <!-- Updated to have an id -->
								<input type="hidden" class="form-control" name="pname" value="{{ pro.pname }}">
								<input type="hidden" class="form-control" placeholder="Price" name="price" value="{{ pro.price }}" id="price">
								<input type="hidden" class="form-control" placeholder="{{ pro.tprice }}" name="tprice" id="total">
								<input type="hidden" name="painting_id" value="{{ pro.id }}"><br>

								<button style="border:none;outline:none;background-color:white;margin-left: -5px;" class="cart-btn" type="submit" onclick="setAction('cart')"><a class="cart-btn"><i class="fas fa-shopping-cart"></i> Go to Cart</a></button>
								<button style="border:none;outline:none;background-color:white;margin-left: -5px;" class="cart-btn " type="submit" onclick="setAction('wishlist')"><a class="cart-btn"><i class="far fa-heart"></i> Add to Wishlist</a></button>
							</form>

						</div>
						{% else %}
						<div class="single-product-form">
							<form action="{% url 'save_cart' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" class="form-control" name="Username" value="{{ request.session.Username }}">
								<input type="hidden" name="action" id="action" value=""> <!-- Updated to have an id -->
								<input type="hidden" class="form-control" name="pname" value="{{ pro.pname }}">
								<input type="hidden" class="form-control" placeholder="Price" name="price" value="{{ pro.price }}" id="price"><br>
								{% if pro.status == 'In Stock' %}
								<input type="number" min="1" max="{{ pro.no_copies }}" value="1" placeholder="Quantity" id="qty" name="quantity" style="border-radius: 30px;"><br>
								
								<input type="hidden" class="form-control" placeholder="{{ pro.tprice }}" name="tprice" id="total">
								{% endif %}
								<input type="hidden" name="painting_id" value="{{ pro.id }}">

								<button style="border:none;outline:none;background-color:white;margin-left: -5px;font-size:14px; border-radius:5px !important;" onclick="setAction('cart')"  ><a class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a></button>
								<button style="border:none;outline:none;background-color:white;margin-left: -5px;" class="cart-btn " type="submit" onclick="setAction('wishlist')" ><a class="cart-btn"><i class="far fa-heart"></i> Add to Wishlist</a></button>
							</form>

						</div>
						{% endif %}
						<h4>Share:</h4>
						<ul class="product-share">
							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->

	<!-- more products -->
	<div class="more-products mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">Related</span> Paintings</h3>
    <p>Discover artworks akin to this one, curated to inspire your space with diverse styles and themes.</p>
					</div>
				</div>
			</div>
            <div class="row">
                {% for painting in paintings %}
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="single-product-item" style="border: 2px solid rgb(239, 237, 237);">
                        <div class="product-image">
                            <img src="{{ painting.picture.url }}" alt="">
                        </div>
                        <div class="text-container">
						<h6 class="truncate-text" style="font-size:16px;margin-bottom:5px;"> {{ painting.pname }}</h6>
					</div>
                        <p class="product-price"><span></span> Rs. {{ painting.price }}/- </p>
						<p class="product-price">
							<span></span>  
							<span class="{% if painting.status == 'In Stock' %}green-text{% elif painting.status == 'Out Of Stock' %}red-text{% endif %}">
								{{ painting.status }}
							</span>
						</p>
                        <a href="{% url 'Single_page' p_id=painting.id %}" class="cart-btn" style="font-size: 13px !important;">View</a>
                    </div>
                </div>
                {% endfor %}
            </div>
		</div>
	</div>
	<!-- end more products -->
		<!-- logo carousel -->
		<div class="section-title text-center">
						<h3><span class="orange-text">Top</span> Popular Artists </h3>
					</div>
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						{% for i in artists %}
						<div class="single-logo-item ">
						<img src="{{i.picture.url}}" class="rounded-circle" style=" border:4px solid rgb(159, 158, 158);object-fit:cover;width: 150px; height: 150px;" alt="example placeholder">
                      <a href="{{i.link}}">
						  <h6 class="text-center m-2 namelogo">{{i.name}}</h6></a>
                      <h6 class="text-center m-2">{{i.year}}</h6>
						</div>
						{%endfor%}

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->


<script>
function toggleRemainingText(button) {
    var remainingText = button.parentNode.previousElementSibling.querySelector('.remaining-text');
    if (remainingText.style.display === 'none') {
        remainingText.style.display = 'inline';
        button.textContent = 'Read less';
    } else {
        remainingText.style.display = 'none';
        button.textContent = 'Read more';
    }
}
</script>

	<script>
		$(document).ready(function(){
			// Calculate total price on page load
			calculateTotalPrice();
	
			$("#qty").change(function(){
				calculateTotalPrice();
			});
	
			function calculateTotalPrice() {
				var quantity = parseInt($("#qty").val());
				var price = parseFloat($("#price").val());
				var total = quantity * price;
				$("#total").val(total.toFixed(2));
			}
		});
	
		// Define setAction function outside of the document.ready block
		function setAction(action) {
    		document.getElementById('action').value = action;
    		document.querySelector('form').submit();
		}
	</script>
	
	




	
</body>
</html>
{%endblock%}
